.Player {
    height: 100px;
    width: 100px;
  //  height: 500px;
   // margin: auto;
    //max-height: 100vh;
    //overflow: hidden;
}

.cardsStyle {
  width: 30rem;
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px; 

}