.Player {
  height: 100px;
  width: 100px;
}

.cardsStyle {
  width: 30rem;
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px; 

}

.addVideo {
  color: #F5821D;
  background-color: white;
  border-color:  #CCCFD3;
  border-radius: 1px;
  float: right;
  margin-bottom: 10px;
}